body {
    background-color: beige;
    display: flex;
    height: 100%;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.filter-reservation {
    width: 30%;
    float: left;
}

.abc {
    display: inline-flex;
}

.photo-grid img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.photo-loop {
    background-color: #00A032;
    border-radius: 40px;
    display: inline-flex;
    grid-gap: 10px;
    width: 100%;
    height: 200px;

}

.denemeli{
    max-height: 800px;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #00A032;

}


.ticket-details {
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.denemeli.expanded .ticket-details {
    max-height: 800px; /* İçeriğe göre ayarlanabilir */
    opacity: 1;
    background-color: #00A032;
    color: black;
;
}

.photo-loop img {
    border-radius: 40px;
}

.photo-grid {
    margin-top: 2%;
    padding-left: 35px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 70%;
    float: right;
    max-width: 1000px;
}

.filter-reservation {
    width: 15%;
    padding: 10px;
    margin: 2% 0 0 0;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    overflow-y: auto;
    top: 20px;
    left: 10px;
    justify-content: left;
    align-items: flex-start;
    max-height: 20%;
    border: solid 1px lightgray;
    background-color: green;
}

.abc {
    display: inline-flex;
}

.dropdown-contentR {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-grow: 1;
}

.dropdown-contentR input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.dropdown-contentR div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
}


