
*, *::before, *::after {
    box-sizing: border-box;
}


.homeBoxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: 3% auto 4% auto;
    justify-content: space-between;
    gap: 2%;
}


.haliSahaBulma {
    display: grid;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3), 0 8px 10px 0 rgba(0, 0, 0, .2); /* BURASI MEDİA İLE OLACAK */
    border-radius: 12%;
    background-color: #00A032;

}


.haliSahaBulmaImg {
    width: 100%;
    cursor: pointer;
}

.reservationScroll {
    width: 100%;
    height: 260px; /* BURASI MEDİA İLE OLACAK */
    padding: 3%;
    background-color: #00A032;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 11%;
    scrollbar-width: none;
    max-width: 400px; /* BURASI MEDİA İLE OLACAK */
}


.reservationScrollItem {
    display: inline-flex;
    background-color: #f44336;
    border-radius: 20px; /* BURASI MEDİA İLE OLACAK */
}

.reservationScrollItem img {
    width: 40%;
    height: auto;
    border-radius: 20px; /* BURASI MEDİA İLE OLACAK */
}

.reservationScrollItem h2 {
    font-size: 1.2em; /* BURASI MEDİA İLE OLACAK */
    margin-top: 2%;
    margin-left: 2%;
    word-wrap: break-word;
}


.homeCards {
    display: inline-flex;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    background-color: green;
    visibility: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* BURASI MEDİA İLE OLACAK */
    padding: 1%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.iconPhotoDesign {
    width: 250%;
    position: relative;
}

.iconPhotoProfile {
    position: absolute;
    width: 12.5%;
    height: 40%;
    left: 12.5%;
    top: 17%;
    cursor: pointer;
}

.playerCards {
    margin: 4%;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px; /* BURASI MEDİA İLE OLACAK */
    width: 100%;
    justify-content: end;

}

.iconPhoto {
    width: 30%;
    cursor: pointer;
}

.homeCardsPhotoDiv {
    justify-content: start;
}

.staticsPlayer {
    display: flex;
    justify-content: space-between;
    gap: 20px;  /* BURASI MEDİA İLE OLACAK */
}

.homeCardsPhotoDiv, .playerCards {
    margin-top: 5%;
}


.mainHomeDiv .profilePhotoEdit {
    display: inline-flex;
}

.profilePhotoEdit {
    margin-left: 1%;
    width: 12%;
    position: relative;
}
.header-status{
    position: absolute;
    background-color: transparent;
}

