@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: beige;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TeamLeftSide{
    width: 60%;
    float: left;
}


.TeamRightSide{
    width: 40%;
    float: right;
}



.inlineAdmin {
    display: inline-flex;
    position: relative;
    gap: 20px;
    margin-left: 20px;
}

.toggle-btn {
    padding: 5px 5px;
    background-color: green;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.active {
    background-color: #f44336;
    padding: 5px 5px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.participantJoin {
    display: inline-flex;
    position: relative;
}

.teamAdminPanelDes {
    width: fit-content;
    height: fit-content;
}


.participants {
    padding: 10px;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}


.participantsProfile {
    width: fit-content;
}


.teamImgs {
    border-radius: 20px;
}

.teamRightSide {
    width: 30%;
    height: 100%;
    right: 0;
}


.mainTeam {
    display: inline-flex;
    padding-top: 25px;
}

.waitingReservation {
    width: 100%;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.paymentTeam {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 3;
}

.paymentMainPart {
    overflow: auto;
    position: fixed; /* Sayfanın sabit bir yerinde durması için */
    top: 50%; /* Yüksekliğin ortası */
    left: 50%; /* Genişliğin ortası */
    transform: translate(-50%, -50%); /* Merkezleme */
    width: 40%; /* Genişlik ayarı */
    height: 80%;
    background-color: white;
    z-index: 10; /* Butonların üzerinde görünmesi için */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.caixa {
    width: 30vw; /*60tı */
    height: 14rem;
    background: green;
    border-radius: 40px;
    margin: 0 auto 60px 20px;
    display: flex;
    padding: 1%;
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: space-between;
    gap: 40px;
}

.caixa div {
    min-width: 100px;
    max-height: 12rem;
}

.caixa div p {
    font: bold 2rem sans-serif;
    color: white;
}


.memberTeam {
    margin: auto;
    display: block;
}


.card-list .card-item {
    color: #fff;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #00A032;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
    width: 150px;
    height: 200px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
}

.card-list .card-item .message-button {
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

.container {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    max-width: 800px;
}

.slider-wrapper .swiper-pagination-bullet {
    background: black;
}

.slider-wrapper .swiper-pagination-bullet:hover {
    background: white;
}


.slider-wrapper .swiper-slide-buttons {
    color: black;
    margin-top: -30px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-buttons:hover {
    color: white;
}


.pitch {
    transform: rotate(90deg);
    height: 400px;
    width: 350px;
    position: absolute;

}

.pitch1 {
    width: 450px;
    height: 600px;
    background-color: #7d2ae8;
    position: relative;
}

.pitch2 {
    width:30%;
    float: right;
    text-align: start;
}

.pitch2 button {
    width: 40px;
    height: 50px;
    display: block;
    position: absolute;

}


.pitch2 button:nth-child(1) {
    top: 0;
}

.pitch2 button:nth-child(2) {
    top: 60px;
}

.pitch2 button:nth-child(3) {
    top: 120px;
}

.pitch2 button:nth-child(4) {
    top: 180px;
}

.pitch2 button:nth-child(5) {
    top: 240px;
}

.pitch2 button:nth-child(6) {
    top: 300px;
}
