{% load static %}
<header>
    <div class="colorHome">
        <nav class="imgAndButtons">
            <a href="/"><img style="width: 175px" class="homeLogo" src="{% static 'images/Logo Name.png' %}"></a>
            <div class="rightAlign">
                {% if user.is_authenticated %}

                <div class="headerBackground">
                    <a class="homeReservation gapBetweenHome buttonsGap " style="color:white;cursor: pointer;"
                       onclick="scrollDown()">Reservations</a>
                </div>

                <div class="headerBackground">
                    <a class="homeReservation gapBetweenHome buttonsGap " style="color:white"
                       href="/reservation">Fields</a>
                </div>

                <div class="dropdownTeam headerBackground">
                    <a class="gapBetweenHome buttonsGap dropbtnTeam" style="color: white" href="//">Teams</a>
                    <div class="dropdown-contentTeam">
                        <div class="columnTeam">
                            <h3>My Teams</h3>
                            <a href="/team/1">Öğe 4</a>
                            <a href="/team/2">Öğe 5</a>
                            <a href="#">Öğe 6</a>
                            <h3 class="createTeamHover" style="cursor: pointer">Create Team</h3>
                            <div class="oylesine">
                                <form class="homeForum" method="POST" action="team/create">
                                    {% csrf_token %}
                                    {{ create_form.as_p }}
                                    <input type="submit" value="Submit" name="create">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="dropDownLogText headerBackground">
                    <a class="hover-text gapBetweenHome buttonsGap" style="color: white">{{ user.username }}</a>
                    <div class="dropDownLogOut">
                        <a>{{ user.id }}</a>
                        <div>
                            <a style="cursor:pointer;">Bakiye Yükle</a>
                            <img style="width: 10px" src="{% static 'images/kafkaf.JPG' %}" alt="Photo 2">
                        </div>
                        <div>
                            <a class="logout-btn" href="user/logout">Logout</a>
                            <img style="width: 10px" src="{% static 'images/kafkaf.JPG' %}" alt="Photo 2">
                        </div>

                    </div>
                </div>
                {% else %}
                <a class="homeReservation gapBetweenHome" style="color: white" href="//">Halı Sahalar</a>
                <button class="homeLog" style="width: fit-content; height: fit-content; color: white"
                        onclick="homeLog()">Log In
                </button>
                {% endif %}

            </div>
        </nav>

        {% if not user.is_authenticated %}
        <nav class="user-container">
            <h2 class="closeLog" style="cursor: pointer; margin-left: 95%" onclick="xButtonCloseLogHome()">X</h2>
            <div id="loginForm" style="display: none">
                <form method="POST" action="user/login">
                    {% csrf_token %}
                    {% include '__particles/login.html' %}
                </form>
                <br><br>
                <p style="text-align: center">Are you new to <strong>HalıSahamda</strong>?
                    <button onclick="getRegisterForm()"> Register</button>
                </p>
            </div>
            <div id="registerForm" style="display: none">
                <form id="registerForm" method="POST" action="user/register">
                    {% csrf_token %}
                    {% include '__particles/register.html' %}
                </form>
                <p style="text-align: center">Are you new to <strong>HalıSahamda</strong>?
                    <button onclick="getLoginForm()"> Login</button>
                </p>
            </div>

        </nav>
        {% endif %}
    </div>
</header>

