{% load static %}
<header >
    <div class="header-status">
        <nav class="imgAndButtons">
            <a href="/"><img style="width: 175px" class="homeLogo" src="{% static 'images/Logo Name.png' %}"></a>
            <div class="rightAlign">
                {% if user.is_authenticated %}

                <div class="headerBackground">
                    <a class="homeReservation gapBetweenHome buttonsGap " style="cursor: pointer;"
                       onclick="homecardOpen()">Profilim</a>
                </div>
                <div class="headerBackground">
                    <a class="homeReservation gapBetweenHome buttonsGap " style="cursor: pointer;"
                       onclick="scrollDown()">Reservations</a>
                </div>

                <div class="headerBackground">
                    <a class="homeReservation gapBetweenHome buttonsGap"
                       href="/field" style="">Fields</a>
                </div>

                <div class="dropdownTeam headerBackground">
                    <a class="gapBetweenHome buttonsGap dropbtnTeam" href="//">Teams</a>
                    <div class="dropdown-contentTeam">
                        <div class="columnTeam">
                            <h3>My Teams</h3>
                            {% for team in teams.all %}
                            <a href="/team/{{ team.id }}">{{ team.name }} </a>
                            {% endfor %}

                            <h3 onclick="createTeamButton()" class="createTeamHover" style="cursor: pointer">Create
                                Team</h3>
                            <form class="homeForum" method="POST" action="team/create">
                                {% csrf_token %}
                                {{ create_form.as_p }}
                                <input type="submit" value="Submit" name="create">
                            </form>
                        </div>
                    </div>
                </div>


                <div class="dropDownLogText headerBackground">
                    <a class="hover-text gapBetweenHome buttonsGap" style="">{{ user.username }}</a>
                    <div class="dropDownLogOut">
                        <a>{{ user.id }}</a>
                        <div>
                            <a style="cursor:pointer;">Bakiye Yükle</a>
                            <img style="width: 10px" src="{% static 'images/kafkaf.JPG' %}" alt="Photo 2">
                        </div>
                        <div>
                            <a class="logout-btn" href="/user/logout">Logout</a>
                            <img style="width: 10px" src="{% static 'images/kafkaf.JPG' %}" alt="Photo 2">
                        </div>

                    </div>
                </div>
                {% else %}
                <a class="homeReservation gapBetweenHome" style="" href="//">Halı Sahalar</a>
                <button onclick="loginOpen()" class="homeLog" id="form-open"
                        style="width: fit-content; height: fit-content;padding: 10px;border-radius: 10px; color: black;border: none;"
                >Log In
                </button>
                {% endif %}

            </div>
        </nav>

        {% if not user.is_authenticated %}
        <!-- home -->
        <section class="home">
            <div class="form_container">
                <i class="uil uil-times form_close" onclick="loginClose()"></i>
                <!-- login form -->
                <div class="form login_form">
                    <form action="/user/login" method="POST">
                        {% csrf_token %}
                        <h2>Login</h2>

                        <div class="input_box">
                            {{ login_form.username }}
                            <i class="uil uil-envelope-alt email"></i>
                        </div>

                        <div class="input_box">
                            {{ login_form.password }}
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide"></i>
                        </div>

                        <div class="option_field">
                            <span class="checkbox">
                                <input type="checkbox" id="check">
                                <label for="check">Remember Me</label>/
                            </span>
                            <a href="#" class="forgot_pw">Forgot Password?</a>
                        </div>

                        <button class="button">Login Now</button>

                        <div class="login_signup">
                            Don't have an account? <a onclick="handleLogin(event)" href="#" id="login">Signup</a>
                        </div>
                    </form>
                </div>

                <!-- Sign up -->

                <div class="form signup_form">
                    <form action="/user/register" method="POST">
                        {% csrf_token %}
                        <h2>Signup</h2>

                        <div class="input_box">
                            {{ register_form.username }}
                            <i class="uil uil-envelope-alt email"></i>
                        </div>
                        <div class="input_box">
                            {{ register_form.full_name }}
                            <i class="uil uil-envelope-alt email"></i>
                        </div>
                        <div class="input_box">
                            {{ register_form.birth_date }}
                            <i class="uil uil-envelope-alt email"></i>
                        </div>
                        <div class="input_box">
                            {{ register_form.position }}
                            <i class="uil uil-envelope-alt email"></i>
                        </div>
                        <div class="input_box">
                            {{ register_form.phone_number }}
                            <i class="uil uil-envelope-alt email"></i>
                        </div>

                        <div class="input_box">
                            {{ register_form.password1 }}
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide"></i>
                        </div>

                        <div class="input_box">
                            {{ register_form.password2 }}
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide"></i>
                        </div>

                        <button class="button">Signup Now</button>

                        <div class="login_signup">
                            Already have an account? <a onclick="handleSignup(event)" href="#" id="signup">Login</a>
                        </div>
                    </form>
                </div>


            </div>
        </section>

        {% endif %}
    </div>
</header>



