<div class="dropdown">
    <button class="dropdown-btn">Takımlarım</button>
    <div class="dropdown-content">
        <a href="/team/templates/olusturulmusTakim.html">Olusturulmus Takimimin Adi</a>
        <a href="javascript:void(0);" class="takimOlusturButonu">Takım Oluştur</a>
        <a href="#">Bir Takıma Katil</a>
    </div>
</div>
<div class="create-team-button">
        <h2 class="closeCreate" style="cursor: pointer; margin-left: 95%">X</h2>
        <h2>Takim Olustur</h2>
        <form id="loginForm">
            <input class="signInput" type="text" id="" placeholder="Team Name" required>
            <button type="submit">Create</button>
        </form>
    </div>