{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="mainTeam">
        <main class="mainTeamDiv">
            <div class="TeamLeftSide">
                <div class="inlineAdmin">
                    <div class="teamAdminPanelDes">
                        <!--
                    <img style="width: 120px;margin: auto" class="homeLogo teamImgs" src="{% static 'images/kafkaf.JPG' %}">
                    <h3 style="text-align: center">{{ user.username }}</h3>
                    -->
                    </div>
                    <form method="POST" action="{{ team.id }}/edit_team/delete">
                        {% csrf_token %}
                        <button type="submit" class="deleteTeamButton">Delete</button>
                    </form>

                    <div style="width: fit-content;height: fit-content" class="participantJoin">
                        {% for member in team.members.all %}
                            <div class="teamMember">{{ member.name }}</div>
                        {% endfor %}
                        <form method="post" action="{{ team.id }}/edit_team/add">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <label for="id">User ID:</label>
                            <input type="number" id="id" name="id" required>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <div style="align-self: end">
                        <button class="toggle-btn" onclick="toggleButton(this)" style="height: fit-content;">Takım 1
                        </button>
                        <button class="toggle-btn" onclick="toggleButton(this)" style="height:fit-content;">Takım 2
                        </button>
                    </div>
                </div>

                <!--
                <h2 style="display: flex;justify-content: center;align-items: center;">Takım 1</h2>
                -->
                <!--
                <div class="participants">
                -->
                <div style="display: block">
                    <div style="display: inline-flex;justify-content: space-between;gap: 300px;margin-left: 40px;padding-top: 30px">
                        <h1>Takım 1</h1>
                    </div>
                </div>

                <div style="display: inline-flex">
                    <div class="caixa">
                        {% for member in team.members.all %}
                            <div style="position: relative" class="memberTeam">
                                <form method="POST" action="{{ team.id }}/edit_team/remove">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <input type="hidden" name="id" value="{{ member.id }}"> <!-- Example data -->
                                    <img style="width: 120px;margin: auto;" class="homeLogo teamImgs"
                                         src="{% static 'images/kafkaf.JPG' %}">
                                    <img style="width: 120px;margin: auto;position: absolute;z-index: 2;left: 0px;top: 20px"
                                         class="homeLogo teamImgs"
                                         src="{% static 'images/ready.PNG' %}">
                                    <button type="submit" class="deleteTeamButton">
                                        <h3 style="text-align: center">{{ member.username }}</h3>
                                    </button>
                                </form>


                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--
            </div>
            -->
        </main>
        <div class="teamRightSide">
            <h2>Bekleyen Rezervasyonlar:</h2>
            <div style="background-color:green;" class="waitingReservation">
                <h2>Img</h2>
                <h2>Details sadsadsadssadassadasdsadasdasdasdasdas</h2>
                <h2 class="waitingReservationOnClick" style="cursor: pointer" onclick="waitingReservationOnClick()">
                    Payment</h2>
            </div>
        </div>
    </div>


    <div class="paymentTeam">
        <div class="paymentMainPart">
            <h1 onclick="xButtonClosePayment()" style="text-align: end;margin-right: 15px;cursor: pointer">X</h1>
            <h1>Ödeme sayfası</h1>
        </div>

    </div>


{% endblock %}

